body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccbcb;
}
.hoteles-header > h2 {
    text-align: center;
    padding: 20px;
}
.hoteles-body {
    margin: auto;
    max-width: 90%;
   }   
.hoteles-item-entry {
    background-color: white;
    padding: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.item-entry-name-container {
    width: 300px;
    padding: 16px;
}
.item-entry-name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-entry-description-container {
    width: 300px;
    padding: 16px;
}
.item-entry-description {
    font-size: 16px;
    font-weight: 300;
}
.item-entry-phone-container {
    width: 250px;
    padding: 16px;
}
.item-entry-phone {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.item-entry-stars-container {
    width: 100px;
    padding: 16px;
}   